body {
    background: #011;
    font-family: Arial, sans-serif;
    color: #990;
    display: flex;
    margin: 0;
    padding: 0;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
}

h1 {
    width: 100%;
    display: flex;
    align-content: center;
    justify-content: center;
}

.command-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    width: 75%;
}

.command-item {
    display: flex;
    flex-direction: row;
    flex-grow: inherit;
    justify-content: space-between;
    width: 60%;
    background: #123;
    padding: 10px;
    border-radius: 10px;
}

.command-item summary {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.command-item .command-title::after {
    content: " (Click for args)";
    font-size: 12pt;
    filter: opacity(50%);
}

.command-item[open] .command-title::after {
    content: "";
    color: #ddd;
    font-size: 12pt;
}

.command-item::marker {
    cursor: pointer;
}

.command-item button {
    align-self: flex-end;
}

.command-title {
    font-weight: bold;
    font-size: 1.5em;
}

.command-arg-label {
    display: inline-block;
}

.command-arg-value {
    display: inline;
}