body {
  display: flex;
  align-items: center;
  flex-direction: column;
  background: #001;
  color: #aad;
  font-family: Arial, sans-serif;
}

#app {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%
}
