<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Command Runner</title>
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>

    <h1>Command Runner</h1>
    <div class="command-list">
        <details class="command-item">
            <summary>
                <span class="command-title">Echo</span>
                <button class="command-run">Run</button>
            </summary>
            <div class="command-argument">
                <label for="argument1" class="command-arg-label">Input: </label>
                <input id="argument1" class="command-arg-text" type="text" />
            </div>
        </details>
    </div>
</body>
</html>