<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Command Runner</title>
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
    <script src="https://unpkg.com/petite-vue" defer init></script>

    <h1>Command Runner</h1>
    <div class="command-list" v-scope="{  }">
        <div class="command-item">
            <details>
                <summary>
                    Echo
                    <button>Run</button>
                </summary>
                <label for="argument1">Input</label>
                <input id="argument1" type="text" />
            </details>
        </div>
    </div>
</body>
</html>